<a href="https://colab.research.google.com/github/noe-martins/Python_Completo_Udemy/blob/main/Se%C3%A7%C3%A3o_4_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

##Parte 1

In [ ]:
'''
Declaração de um list ou array
'''
#Array vazio
array = []

'''
Tipos de array
'''
array_int = [1,2,3]
array_floats = [1.2,3.5]
array_str = ['D', 'Noé']
array_misto = [1, 2.2, 'ANA']

print(array_int)
print(array_floats)
print(array_str)
print(array_misto)
for i in range(0, len(array_misto)):
  print(type(array_misto[i]))

for x in array_misto:
    print(type(x))

[1, 2, 3]
[1.2, 3.5]
['D', 'Noé']
[1, 2.2, 'ANA']
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
'''
Modificando um elemento do Array
'''
array_original = list([1, 5, 56])
print("Array original = {}".format(array_original))

array_original[1] = 100
print("Array modificado = {}".format(array_original))

Array original = [1, 5, 56]
Array modificado = [1, 100, 56]

In [ ]:
'''
Impressão de Array
'''
array_imprimir = [1, 'A', True]
print(array_imprimir[:1]) #Sempre exclui o último
print(array_imprimir[-1]) #Conta da direita para esquerda
print(array_imprimir[-2:])
print(array_imprimir[::-1]) #Inverte a String
print(array_imprimir[1:])

[1]
True
['A', True]
[True, 'A', 1]
['A', True]

In [ ]:
array_inserir = [25, 50, 100]
print(array_inserir)

array_inserir.remove(25)
print(array_inserir)

[25, 50, 100]
[50, 100]

In [ ]:
'''
Operações com Array ou List
'''
array_ref = [1, 2.6, True, 'Ana', 2.6, 2.6]
print("Array de Referência: {}".format(array_ref))

#Adicionar um elemento ao final da lista
array_ref.append(50)
print("Array (.append) = {}".format(array_ref))

#Adicionar um elemento em um índice específico
array_ref.insert(2, 'Noé')
print("Array (.insert) = {}".format(array_ref))

#Remover um elemento específico
array_ref.remove('Ana')
print("Array (.remove) = {}".format(array_ref))

#Remover um elemento de uma posição específica
array_ref.pop(0)
print("Array (.pop) = {}".format(array_ref))

#Cumprimento da List
print("Tamanho do Array = {}".format(len(array_ref)))

#Condições com a List
print("O número 2.6 está no Array? R: {}".format(2.6 in array_ref))
print("O 'True' não está no Array! R: {}".format(True not in array_ref))

#Quantidade do elemento específico na List
print("Quantidade do elemento '2.6' = {}x".format(array_ref.count(2.6)))

#Indice do elemento específico
print("Posição do elemento 'Noé' = {}".format(array_ref.index('Noé')))

#Limpar uma List
array_ref.clear()
print("Array (.clear) = {}".format(array_ref))

Array de Referência: [1, 2.6, True, 'Ana', 2.6, 2.6]
Array (.append) = [1, 2.6, True, 'Ana', 2.6, 2.6, 50]
Array (.insert) = [1, 2.6, 'Noé', True, 'Ana', 2.6, 2.6, 50]
Array (.remove) = [1, 2.6, 'Noé', True, 2.6, 2.6, 50]
Array (.pop) = [2.6, 'Noé', True, 2.6, 2.6, 50]
Tamanho do Array = 6
O número 2.6 está no Array? R: True
O 'True' não está no Array! R: False
Quantidade do elemento '2.6' = 3x
Posição do elemento 'Noé' = 1
Array (.clear) = []

##Parte 2

In [ ]:
'''
Operações com Array ou List
'''
#Somando Arrays
array_1 = [1,2,3]
array_2 = [4,5,6]
print("Array (Soma) = {}".format(array_1 + array_2))

#Multiplicando Array
print("Array (multiplicando) = {}".format(array_1 * 3))

#Desempacotar um Array
array_numeros = ["um", "dois", "tres"]
x,y,z = array_numeros
print("Array (desempacotado em variáveis) = {}, {}, {}".format(x, y, z))

#Percorrer Array
#Forma deselegante
array_percorrer = [6, "A", 5.67]
i = 0
while(i < len(array_percorrer)):
  print("Percorrer (While) = {}".format(array_percorrer[i]))
  i += 1

#Forma menos deselegante
for j in range(0, len(array_percorrer)):
  print("Percorrer (For) = {}".format(array_percorrer[j]))

#Forma Elegante
for x in array_percorrer:
  print("Percorrer = {}".format(x))

#Lista de lista (Matriz)
array_matriz = [[1,2,3], [7,8,9]]
print("Matriz = {}".format(array_matriz))
print("Elementos da primeria Linha (Primeira Lista) = {}".format(array_matriz[0]))
print("Elementos da segunda Linha (Seguna Lista) = {}".format(array_matriz[1]))
print("Primeiro elemento da primeira Linha (Primeira Lista) = {}".format(array_matriz[0][0]))
print("Terceiro elemento da segunda Linha (Segunda Lista) = {}".format(array_matriz[1][2]))

Array (Soma) = [1, 2, 3, 4, 5, 6]
Array (multiplicando) = [1, 2, 3, 1, 2, 3, 1, 2, 3]
Array (desempacotado em variáveis) = um, dois, tres
Percorrer (While) = 6
Percorrer (While) = A
Percorrer (While) = 5.67
Percorrer (For) = 6
Percorrer (For) = A
Percorrer (For) = 5.67
Percorrer = 6
Percorrer = A
Percorrer = 5.67
Matriz = [[1, 2, 3], [7, 8, 9]]
Elementos da primeria Linha (Primeira Lista) = [1, 2, 3]
Elementos da segunda Linha (Seguna Lista) = [7, 8, 9]
Primeiro elemento da primeira Linha (Primeira Lista) = 1
Terceiro elemento da segunda Linha (Segunda Lista) = 9

#Set

##Parte 1

In [ ]:
'''
Declaração do Set
'''
lista_set = {}
lista2_set = set({})

In [ ]:
'''
Operações com Set
'''
set_ref = {1,2,3}
print("Set de referência = {}".format(set_ref))
#Set não permite iterar por índice

#Adicionar um elemento no Set
set_ref.add(4)
print("Set (.add) = {}".format(set_ref))

#Remover um elemento no Set
set_ref.remove(4)
print("Set (.remove) = {}".format(set_ref))

#Não permite duplicidade
set_ref.add(1)
print("Set (adicionado o 1 sem duplicidade) = {}".format(set_ref))

#Limpando o Set
set_ref.clear()
print("Set (.clear) = {}".format(set_ref))

for i in range(0, 3):
  set_ref.add(i+1)

Set de referência = {1, 2, 3}
Set (.add) = {1, 2, 3, 4}
Set (.remove) = {1, 2, 3}
Set (adicionado o 1 sem duplicidade) = {1, 2, 3}
Set (.clear) = set()
{1, 2, 3}

##Parte 2

In [ ]:
'''
Operações com Set
'''
#Tamanho do Set
print("Set (Tamnho) = {}".format(len(set_ref)))

#Indentificar se contém elemento no Set
print("Contém o elemento '3' = {}".format(3 in set_ref))

#Percorrer elementos de um Set
k = 0
for item in set_ref:
  print("Elemento {} = {}".format(k, item))
  k += 1

'''
Operações de conjunto com Set
'''
print("\nOPERAÇÕES DE CONJUNTO COM SET")
set_conjunto1 = {4,5,6}
set_conjunto2 = {7,8,9}

#União
print("Set (.union) = {}".format(set_conjunto1.union(set_conjunto2)))

#Intersecção
set_conjunto2.add(4)
set_conjunto2.add(6)
print("Set (Conjunto 1 - Atualizado) = {}".format(set_conjunto1))
print("Set (Conjunto 2 - Atualizado) = {}".format(set_conjunto2))
print("Set (.intersection) = {}".format(set_conjunto1.intersection(set_conjunto2)))

#Diferença
print("Set (.difference) = {}".format(set_conjunto1.difference(set_conjunto2)))

Set (Tamnho) = 3
Contém o elemento '3' = True
Elemento 0 = 1
Elemento 1 = 2
Elemento 2 = 3

OPERAÇÕES DE CONJUNTO COM SET
Set (.union) = {4, 5, 6, 7, 8, 9}
Set (Conjunto 1 - Atualizado) = {4, 5, 6}
Set (Conjunto 2 - Atualizado) = {4, 6, 7, 8, 9}
Set (.intersection) = {4, 6}
Set (.difference) = {5}

#Tuple

In [ ]:
'''
Mesma coisa que o List.
Diferenças:
- Não pode adicionar
- Não pode remover
- Não pode modificar

obs: Para modificar só se fizer um casting para list
'''

#Declaração de Tuple
lista_tuple = (4,5,6)
lista2_tuple = tuple(())

#Casting
lista_set_normal = list(lista_tuple)
print("Tuple impressa na List = {}".format(lista_set_normal))
lista_set_normal.append(50)
lista_tuple = tuple(lista_set_normal)
print("Tuple impressa após o casting = {}".format(lista_tuple))

Tuple impressa na List = [4, 5, 6]
Tuple impressa após o casting = (4, 5, 6, 50)

#Dictionaries

##Parte 1

In [ ]:
'''
Declaração dos Dictionaries
'''

dic_ref = {"id": 1,
           "nome": "Noé",
           "sobrenome": "Martins",
           "altura": 1.75
          }
print(dic_ref)

{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins', 'altura': 1.75}

In [ ]:
'''
Operações com Dictionaries
'''

#Consultar elemento pela chave
print("O 'id' é: {}".format(dic_ref['id']))
print("O 'id' é: {}".format(dic_ref.get("id")))

#Teste condicional
print("Tem a chave 'telefone' na lista: {}".format("telefone" in dic_ref))

#Modificando valor do elemento de uma chave
dic_ref["altura"] = 1.80
print("Altura modificada (1° vez) = {}".format(dic_ref.get("altura")))

dic_ref.update({"altura": 1.85})
print("Altura modificada (2° vez) = {}".format(dic_ref.get("altura")))

#Adicionando uma chave com o seu elemento
dic_ref["telefone"] = 5599999999
print("Campo 'telefone' adicionado: {}".format(dic_ref["telefone"]))
print(dic_ref)

#Removendo chave específica
dic_ref.pop("altura")
print(dic_ref)

#Removendo a última chave adicionada
dic_ref.popitem()
print(dic_ref)

O 'id' é: 1
O 'id' é: 1
Tem a chave 'telefone' na lista: False
Altura modificada (1° vez) = 1.8
Altura modificada (2° vez) = 1.85
Campo 'telefone' adicionado: 5599999999
{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins', 'altura': 1.85, 'telefone': 5599999999}
{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins', 'telefone': 5599999999}
{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins'}

##Parte 2

In [ ]:
'''
Operações mais robustas com Dictionaries
'''
#Iterando um Dictionaries por uma Tupla
lista_tupla = dic_ref.items()
print(type(lista_tupla))
print(lista_tupla)

for item in lista_tupla:
  print("{}: {}".format(item[0], item[1]))

#Acessando apenas "chaves" e "elementos"
chaves = dic_ref.keys()
elementos = dic_ref.values()
print(type(chaves))
print(type(elementos))

print("\nChaves")
for item in chaves:
  print(item)
print("\nValores ou Elementos")
for item in elementos:
  print(item)

'''
Adicionando elementos repetidos para o estudo abaixo
'''
print(dic_ref)
dic_ref["familia"] = "Martins"
print(dic_ref)

#Filtrar e contar elementos de uma Dictionaries usando List
list_dic = list(dic_ref.values())
print("Quantidade de vezes que tem 'Martins' = {}".format(list_dic.count("Martins")))

#Limpar
dic_ref.clear()
print(dic_ref)

<class 'dict_items'>
dict_items([('id', 1), ('nome', 'Noé'), ('sobrenome', 'Martins')])
id: 1
nome: Noé
sobrenome: Martins
<class 'dict_keys'>
<class 'dict_values'>

Chaves
id
nome
sobrenome

Valores ou Elementos
1
Noé
Martins
{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins'}
{'id': 1, 'nome': 'Noé', 'sobrenome': 'Martins', 'familia': 'Martins'}
Quantidade de vezes que tem 'Martins' = 2
{}

##Parte 3

In [ ]:
'''
Dictionaries aninhados
'''
#MODO 1
dados_joao = {
    "id" : 1,
    "nome" : "João",
    "sobrenome" : "Martins"
}
dados_ana = {
    "id" : 2,
    "nome" : "Ana",
    "sobrenome" : "Blue"
}
dados_maria = {
    "id" : 3,
    "nome" : "Maria",
    "sobrenome" : "José"
}

dados_por_nome = {
    "joao" : dados_joao,
    "ana" : dados_ana,
    "maria" : dados_maria
}

list_dados = dados_por_nome.items()
for item in list_dados:
  print("{}: {}".format(item[0], item[1]))

joao: {'id': 1, 'nome': 'João', 'sobrenome': 'Martins'}
ana: {'id': 2, 'nome': 'Ana', 'sobrenome': 'Blue'}
maria: {'id': 3, 'nome': 'Maria', 'sobrenome': 'José'}

In [ ]:
#MODO 2
dados_por_nome = {
    "joao" : {
        "id" : 1,
        "nome" : "João",
        "sobrenome" : "Martins"
    },

    "ana" : {
        "id" : 2,
        "nome" : "Ana",
        "sobrenome" : "Blue"
    },

    "maria" : {
        "id" : 3,
        "nome" : "Maria",
        "sobrenome" : "José"
    }
}

list_dados = dados_por_nome.items()
for item in list_dados:
  print("{}: {}".format(item[0], item[1]))

joao: {'id': 1, 'nome': 'João', 'sobrenome': 'Martins'}
ana: {'id': 2, 'nome': 'Ana', 'sobrenome': 'Blue'}
maria: {'id': 3, 'nome': 'Maria', 'sobrenome': 'José'}

In [ ]:
#Acessando um elemento específico
print(dados_por_nome["ana"]["id"])

2

#List Comprehensions

##Parte 1

In [ ]:
'''
Declaração da List comprehensions
'''
lista_comp = [x for x in range(1,11)]
print(lista_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
'''
Operações com List comprehensions
'''
print("[REFERÊNCIA] - {}".format(lista_comp))

#Gerar lista a partir de outra list
lista_new = [x for x in lista_comp]
print("[A] - {}".format(lista_new))

#Lista com condicional
lista_cond = [x for x in lista_comp if x % 2 == 0]
print("[B] - {}".format(lista_cond))

#Lista com condicional booleano de outra lista
lista_bool = [x for x in lista_comp if x not in lista_cond]
print("[C] - {}".format(lista_bool))

#Lista com condicional composto
lista_composto = [x for x in lista_comp if x > 2 if x < 9]
print("[D] - {}".format(lista_composto))

#Alterando valores da lista (x)
lista_alt = [x*2 for x in lista_comp]
print("[E] - {}".format(lista_alt))

#Fazendo casting no x
lista_string = [str(x*2) for x in lista_comp]
print("[F] - {}".format(lista_string))

#Pegando só o primeiro elemento dessa string acima
lista_stringMod = [str(x*2)[0] for x in lista_comp]
print("[G] - {}".format(lista_stringMod))

#If ternário no x
lista_tern = ['ímpar' if x % 2 != 0 else 'par' for x in lista_comp]
print("[H] - {}".format(lista_tern))

[REFERÊNCIA] - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[A] - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[B] - [2, 4, 6, 8, 10]
[C] - [1, 3, 5, 7, 9]
[D] - [3, 4, 5, 6, 7, 8]
[E] - [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[F] - ['2', '4', '6', '8', '10', '12', '14', '16', '18', '20']
[G] - ['2', '4', '6', '8', '1', '1', '1', '1', '1', '2']
[H] - ['ímpar', 'par', 'ímpar', 'par', 'ímpar', 'par', 'ímpar', 'par', 'ímpar', 'par']

##Parte 2

In [ ]:
'''
Operações mais robustas com List comprehensions
'''
#Usando uma expressão Lambda
lista_lambda = list(filter(lambda x: x % 2 == 0, lista_comp)) #Uso o list() p/ pode chamar o método filter()
print("[A] - {}".format(lista_lambda))

#Criando uma matriz
lista_matriz = [[x for x in range(1,4)] for y in range(1,4)] #Um list está dentro do outro
print("[B] - {}".format(lista_matriz))

[A] - [2, 4, 6, 8, 10]
[B] - [[1, 2, 3], [1, 2, 3], [1, 2, 3]]

#Atividades

##Parte 1

In [ ]:
'''
1
'''
lista_numeros = (1,10,6,7,8,10)
sum = 0
for x in lista_numeros:
  sum += x
print(sum)

42

In [ ]:
'''
2
'''
lista_cem = [x for x in range(1,101)]
print(lista_cem)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
'''
3
'''
lista_1 = {30,4,43,52,65,-10}
lista_2 = {43,2,4,76,32,65,3}
print(lista_1.union(lista_2))

{32, 65, 2, 3, 4, 43, 76, 52, -10, 30}

In [ ]:
'''
4
'''
lista_meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
               'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
mes_nascimento = int(input("Digite o mês em que nasceu: "))
print(lista_meses[mes_nascimento - 1])

Digite o mês em que nasceu: 11
novembro

In [ ]:
'''
5
'''
lista_novembro = [x for x in range(1,31)]
lista_novembro.remove(int(input("Dia do seu aniversário: ")))
print(lista_novembro)

Dia do seu aniversário: 23
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30]

##Parte 2

In [ ]:
'''
6
'''
lista_objetos = {
    "caneta": "escrever",
    "borracha": "apagar",
    "caderno": "rasurar"
}
objeto_procurado = input("Digite o objeto: ")
if objeto_procurado in lista_objetos:
  print(lista_objetos[objeto_procurado])
else:
  print("Objeto não existe na lista!")

Digite o objeto: pente
Objeto não existe na lista!

In [ ]:
'''
7
'''
print([x for x in range(-30,-19)])

[-30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20]

In [ ]:
'''
8
'''
print([x for x in range(4,99) if x % 4 == 0])

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [ ]:
'''
9 - Meu jeito
'''
lista_desafio = [str(x) for x in range(0,101) if len(str(x)) >= 2 and str(x)[1] == '0' or str(x)[0] == '0']
print(lista_desafio)

['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

In [ ]:
'''
9 - Correção
'''
lista_desafio_corr = [str(x for x in range(0,101) if str(x)[-1] == '0')]
print(lista_desafio)

['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

In [ ]:
'''
10 - Meu jeito
'''
lista_array = ["0" if len(str(x)) >= 2 and str(x)[1] == '0' or str(x)[0] == '0' else "-" for x in range(0,21)]
print(lista_array)

['0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0']

In [ ]:
'''
10 - Correção
'''
lista_array_corr = ["0" if str(x)[-1] == '0' else "-" for x in range(0,21)]
print(lista_array_corr)

['0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0']